body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(255, 221, 221);
}

#aboutme, #myinterests, nav{
    margin: 20px;
    background-color: bisque;
    border: dotted black;
}

h1 {
    color:rgb(116, 80, 54);
}

footer {
    background-color: rgb(127, 94, 70);
}

.smalltext {
    background-color:rgb(255, 221, 221);
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}

#images {
    margin: 20px;
}

#footer {
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

a:link {
    color:rgb(58, 42, 30)
}

a:visited {
    color:rgb(127, 94, 70)
}

a:hover {
    color:black;
}

nav {
    background-color: bisque;
}

#zmist {
    font-size: large;
    font-weight: bold;
    margin: 20px;
}

img {
    max-width: 80%;
    border-radius: 10px;
}

#allcontent {
    width: 70%;
    margin: auto;
}