body {
    background: lightblue url(images/завантаження\ \(1\).jpg) repeat-x;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

main {
    border: thin black;
}

footer {
    background-color: #101010;
    color: white;
    text-align: center;
    font-size: small;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

#allcontent {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

ul {
    background-color: gray;
    margin: 10px 10px 0px 10px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

ul li a:link, ul li a:visited {
    color: black;
    border-bottom: none;
    font-weight: bold;
}

ul li.selected {
    background-color: rgb(160, 160, 160);
}